<div class="container">

  <app-container>

    <p-editor [(ngModel)]="sendtext" styleClass="editor" [style]="{'min-height':'400px', 'height':'400px'}">
      <ng-template pTemplate="header">
        <span class="ql-formats">
          <button type="button" class="ql-bold" aria-label="Bold"></button>
          <button type="button" class="ql-italic" aria-label="Italic"></button>
          <button type="button" class="ql-strike" aria-label="Strikethrough "></button>
        </span>
      </ng-template>
    </p-editor>

    <app-sender (number)="sendMessage($event)"></app-sender>

  </app-container>

  <legend>
    Escreva e edite o texto na caixa de menssagem acima. <br>
    Infome o número do contato do wpp e clique no botão, <p-badge [value]="'Enviar'" severity="success"></p-badge>, para
    iniciar uma conversa.
  </legend>
  <footer class="footer">
    <div class="tecnologies">

      <div class="icons">
        <img class="icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-plain.svg" />
        <img class="icon"
          src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg" />
        <img class="icon"
          src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original.svg" />

        <img class="icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" />
      </div>
      
      <span>Feito com</span>


    </div>

    <div class="myData">

      <div class="icons">
        <a href="https://github.com/emanueldsc" title="https://github.com/emanueldsc">
          <img class="icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" />
        </a>
        <a href="https://www.linkedin.com/in/emanueldouglas" title="https://www.linkedin.com/in/emanueldouglas">
          <img class="icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" />
        </a>
      </div>
      <span>Minhas redes sociais</span>
        
    </div>
  </footer>
</div>