:host {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 8px;
    gap: 8px;
    
    :first-child {
        flex-grow: 1;
        > input {
            width: 100%;
        }    
    }

}

.telefone {
    flex-grow: 1;
    width: 100%;
}